backend:
  name: github
  branch: scratch
  repo: SuperHatGuy/idolfest-event-website
  cms_label_prefix: web-editor/
  base_url: https://c03m0wt68h.execute-api.us-east-1.amazonaws.com
  auth_endpoint: /auth
site_domain: idolfes.us
site_url: https://idolfes.us/
logo_url: https://idolfes.us/admin/logo.svg
# This is where it's stored in the repo
media_folder: "/static/images/uploads"
# This is where it is url-wise
public_folder: "/images/uploads"
collections: 
# Blog is supported, but no one uses it, so I'm hididng it for now. @SLP
  # - name: "blog-posts"
  #   label: "Blog Entries (2024)"
  #   label_singular: "Blog Entry"
  #   # NOTE: This needs to be updated for each event to make blogs work
  #   folder: "src/markdown-pages/blog/2024"
  #   create: true
  #   delete: true
  #   summary: "{{fields.title}} ({{fields.date}})"
  #   slug: "{{slug}}" # (    o_o) slug
  #   sort: 'date:desc'
  #   fields: 
  #     - {label: "Title", name: "title", widget: "string"}
  #     - {label: "Date", name: "date", widget: "datetime", date_format: "YYYY-MM-DD", time_format: false, format: "YYYY-MM-DD"}
  #     - {label: "Template", name: "template", widget: "hidden", default: "blogpost"}
  #     - {label: "Body", name: "body", widget: "markdown"}
  - name: "root-pages"
    label: "Top-Level Pages"
    label_singular: "Top-Level Page"
    folder: "src/markdown-pages/"
    create: true
    delete: true
    slug: "{{slug}}" # (    o_o) slug
    fields: 
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Template", name: "template", widget: "hidden", default: "page"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "about"
    label: "About Section Pages"
    label_singular: "About Section Page"
    folder: "src/markdown-pages/about"
    create: true
    delete: true
    slug: "{{slug}}" # (    o_o) slug
    fields: 
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Template", name: "template", widget: "hidden", default: "page"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "events"
    label: "Events Section Pages"
    label_singular: "Events Section Page"
    folder: "src/markdown-pages/events"
    create: true
    delete: true
    slug: "{{slug}}" # (    o_o) slug
    fields: 
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Template", name: "template", widget: "hidden", default: "page"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "guests"
    label: "Guests"
    label_singular: "Guest"
    folder: "src/markdown-pages/guests/2025"
    # This is where it's stored in the repo
    media_folder: "/static/images/guests"
    # This is where it is url-wise
    public_folder: "/images/guests"
    create: true
    delete: true
    slug: "{{fields.slug}}" # (     o_O) slug
    fields: 
      - {label: "Template", name: "template", widget: "hidden", default: "guest"}
      - {label: "Guest Name", name: "name", widget: "string"}
      - {label: "Page Title (guest name again)", name: "title", widget: "string"}
      - {label: "Descriptor", name: "descriptor", widget: "string"}
      - {label: "Twitch", name: "twitch", widget: "string", required: false}
      - {label: "Youtube", name: "youtube", widget: "string", required: false}
      - {label: "Twitter", name: "twitter", widget: "string", required: false}
      - {label: "Homepage", name: "homepage", widget: "string", required: false}
      - {label: "Instagram", name: "instagram", widget: "string", required: false}
      - {label: "Bandcamp", name: "bandcamp", widget: "string", required: false}
      - {label: "Spotify", name: "spotify", widget: "string", required: false}
      - {label: "Facebook", name: "facebook", widget: "string", required: false}
      - {label: "Bluesky", name: "bluesky", widget: "string", required: false}
      - {label: "Patreon", name: "patreon", widget: "string", required: false}
      - {label: "TikTok", name: "tiktok", widget: "string", required: false}
      - {label: "Apple Music", name: "applemusic", widget: "string", required: false}
      - {label: "Showroom", name: "showroom", widget: "string", required: false}
      - {label: "Threads", name: "threads", widget: "string", required: false}
      - {label: "Guest \"star\" Image", name: "guestimg", widget: "image", hint: "Please surround the image with the event's star image border. This will not be done for you! Use only the outside border.\r\nFile: https://drive.google.com/file/d/1t8GmsVC0cwWwDAZGkeTgBNzQPSuqEwIn/view?usp=drive_link"}
      - {label: "Note", name: "NOTE", widget: "hidden", default: "Make sure image of the guest is in the media folder, named guest_(YEAR)_(GUEST_SLUG).png"}

      - {label: "Body", name: "body", widget: "markdown"}

  - name: "hotel-pages" # Temporary name
    label: "Hotel Pages"
    label_singular: "Hotel Page"
    files:
      - label: "Hotel"
        name: "hotel"
        file: "src/pages/hotelinfo.json"
        extension: "json"
        description: "Booking status, hotel location, room types and pricing."
        fields:
          - label: "Booking status"
            name: "bookingStatus"
            widget: "select"
            options:
              - { label: "Open", value: "open" }
              - { label: "Waiting", value: "waiting" }
              - { label: "Closed", value: "closed" }
          - {label: "Booking Link", name: "bookingLink", widget: "string"}
          - {label: "Booking Note", name: "bookingNote", widget: "text", required: false, hint: "Additional notes about booking (e.g how to book by phone.)"}
          - {label: "Hotel Picture", name: "hotelPicture", widget: "image", hint: "Presentational image of the hotel."}
          - {label: "Hotel Note", name: "hotelNote", widget: "text", required: false, hint: "Additional notes about the hotel (e.g parking price.)"}
          - label: "Room Rates"
            name: "roomRates"
            widget: "list"
            fields:
              - {label: "Room type", name: "label", widget: "string"}
              - {label: "Price per night", name: "price", widget: "number", min: 0}
          - {label: "Map link", name: "mapLink", widget: "string"}
          - label: "How to get here"
            name: "directions"
            widget: "list"
            fields:
              - {label: "Method", name: "method", widget: "string"}
              - {label: "Body", name: "body", widget: "text"}

  - label: "Site Settings & Navigation"
    name: "general"
    files: 
    - label: "Site Metadata"
      name: "site-metadata"
      file: "siteMetadata.json"
      extension: "json"
      description: "General Site Settings"
      fields:
        - {label: "Global title", name: "title", widget: "string"}
        - {label: "Short Dates", name: "shortDates", widget: "string"}
        - {label: "Long Dates", name: "longDates", widget: "string"}
        - {label: "Location", name: "location", widget: "string"}
        - {label: "Venue", name: "venue", widget: "string"}
        - {label: "Social Preview Description", name: "description", widget: "string"}
        - label: "Sister Banner Event"
          name: "sisterBannerEvent"
          widget: "select"
          options: ["none", "scif"]
        - {label: "Sister Banner Text", name: "sisterBannerText", widget: "string"}
        - label: Social
          name: social
          widget: object
          fields: 
            - {label: "Twitter", name: "twitter", widget: "string"}
            - {label: "Bluesky", name: "bluesky", widget: "string"}
            - {label: "Instagram", name: "instagram", widget: "string"}
            - {label: "Discord", name: "discord", widget: "string"}
            - {label: "Email", name: "email", widget: "string"}
    - label: "Homepage"
      name: "homepage"
      file: "src/pages/homepage.json"
      extension: json
      description: Homepage appearance/text
      fields: 
        - {label: "Title", name: "title", widget: "string"}
        - {label: "Register Button Visible", name: "registerButtonEnabled", widget: "boolean"}
        - {label: "Feedback Button Visible", name: "feedbackButtonEnabled", widget: "boolean"}
        - {label: "Body Text (html ok)", name: "body", widget: "text", default: 3}
        - label: Buttons (Max 3)
          name: buttons
          widget: list
          fields: 
            - {label: "Button Text", name: "text", widget: "string"}
            - {label: "Link URL", name: href, widget: "string" }
        - {label: "Number of event schedule days", name: "scheduleDays", widget: "number"}
    - label: "Registration"
      name: "registration"
      file: "src/pages/registerinfo.json"
      extension: "json"
      description: "Enable or disable registration, set badge prices, etc"
      fields: 
        - {label: "Registration Enabled", name: "registrationEnabled", widget: "boolean"}
        - {label: "Show Badge Pickup Text", name: "showBadgePickupHours", widget: "boolean"}
        - {label: "Badge Pickup Text (html ok)", name: "badgePickupHoursText", widget: "text"}
        - {label: "Show Weekend Pricing Text", name: "showBadgePricingNote", widget: "boolean"}
        - {label: "Weekend Pricing Text (html ok)", name: "badgePricingHoursText", widget: "text"}
        - {label: "Heading to show when registration closed", name: "regClosedHeading", widget: "string"}
        - {label: "Text to show when registration closed", name: "regClosedText", widget: "text"}

        - label: Badge Tiers
          name: allBadgeTiers
          widget: list
          fields: 
            - {label: "Badge Name", name: "badgeName", widget: "string"}
            - {label: "Badge Key (internal - DO NOT CHANGE)", name: "badgeKey", widget: "string"}
            - {label: "Currently Available", name: "onSale", widget: "boolean"}
            - {label: "Has Tax", name: "hasTax", widget: "boolean"}
            - {label: "Price (Does not affect square price)", name: "price", widget: "string"}
            - {label: "Tier Name", name: "tierName", widget: "string"}
            - {label: "Desciption", name: "description", widget: "string"}
            - {label: "Perks", name: "perks", widget: "list"}

    - label: "Navigation Items"
      label_singular: "Navigation Item"
      name: "navigation"
      file: "src/components/HeaderData.json"
      extension: "json"
      description: "Items to show in site navigation"
      fields: 
        - label: "Navigation Items"
          label_singular: "Navigation Item"
          name: "headersData"
          widget: "list"
          fields: 
            - {label: Label, name: label, widget: string}
            - {label: "Page path (short - example: /register or /guests/phoebe)", name: href, widget: string}
            - {label: "Hidden from Navigation", name: disabled, widget: boolean, required: false}
            - {label: "Link is to outside website (eg google docs)", name: external, widget: boolean, required: false}
            - label: Child Navigation Items
              label_singular: Child Navigation Item
              name: children
              widget: list
              fields: 
              - {label: Label, name: label, widget: string}
              - {label: "Page path (short - example: /register or /guests/phoebe)", name: href, widget: string}
              - {label: "Hidden from Navigation", name: disabled, widget: boolean, required: false}
              - {label: "Link is to outside website (eg google docs)", name: external, widget: boolean, required: false}
